 .homePagewrapper {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
 }

 .formWrapper {
   background: #282a36;
   padding: 20px;
   border-radius: 10px;
   max-width: 90%;
   width: 400px;
 }

 footer {
   position: fixed;
   bottom: 0;
 }

 footer a {
   color: #4aee88;
 }

 /* input */
 .inputGroup {
   display: flex;
   flex-direction: column;
 }

 .mainLabel {
   margin-bottom: 20px;
   margin: top 0;
 }

 .homePageLogo {
   height: 80px;
   margin: bottom 30px;
 }

 .inputBox {
   padding: 10px;
   border-radius: 5px;
   outline: none;
   border: none;
   margin-bottom: 14px;
   background: #eee;
   font-size: 16px;
   font-weight: bold;

 }

 .btn {
   border: none;
   padding: 10px;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   font-weight: bold;
 }

 .joinBtn, .leaveBtn {
   background: #4aed88;
   width: 100px;
   margin-left: auto;
 }

 .joinBtn:hover {
   background: #2bB24c;
 }

 .createInfo {
   margin: 0 auto;
   margin-top: 20px;
 }

 .createNewBtn,
 footer a {
   color: #4aed89;
   text-decoration: none;
   border-bottom: 1px solid #4aed89;
   transition: all 0.3s ease-in-out;

 }

 .createNewBtn:hover,
 footer a:hover {
   color: #368654;
   border-bottom: 1px solid #368654;

 }

 .mainWrap {
   display: grid;
   grid-template-columns: 230px 1fr;
   /* height: 100vh; */
 }

 .aside {
   background: #1c1e29;
   padding: 16px;
   color: #fff;
   display: flex;
   flex-direction: column;
 }

 .asideInner {
   flex: 1;
 }

 .clientList {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
 }
 .client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
 }
 .userName{
  margin-top: 10px;
 }
 .logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 14px;
 }
 .logoImage{
  height: 50px;
 }
 .leaveBtn{
  width: 100%;
margin-top: 20px;
 }

 .CodeMirror{
  min-height: calc(10vh-20px);
  font-size: 20px;
  line-height: 1.5;
  padding-top: 20px;
 }